body{
	font-family: 'Oswald', Arial, sans-serif;

}

*{
	padding: 0;
	margin: 0;
}

header{
  padding: 15px 0;
  background: #d0cfcb;
  box-shadow: 0 5px 7px 0 #1f3a139e;
}

.header-container{
  display: flex;
  width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}

.toggle_mnu{
	display: none;
}
.main-navigation{
  display: flex;
  align-items: center;
}

.site-navigation {
  list-style: none;
  display: flex;
}

.site-navigation a{
  text-decoration: none;
  color: #000;
	font-size: 16px;
	padding: 0 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
  transition-duration: 1s;
}
.site-navigation
a:hover
{
  width: 20px;
  background-color: rgba(102, 131, 107, 0.43);
  box-shadow: 3px 3px 4px 0px #00000096;
  padding: 5px 20px;
  border-bottom: 2px solid #8ea578;
}



/*Стили для слайдера*/

.slider{
  width: 1080px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 70px;
}

.slider h2{
	background: #d0df89;
	display: inline;
	font-size: 55px;
	padding: 0 13px;
	margin-top: 5px;
}

.slider_slide {
  position: relative;
}

.slide_text{
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}

.slide_title, .slide_description{
margin: 0;
padding: 0 10px;
}

.slider h3{
	text-transform: uppercase;
	letter-spacing: 3px;

}

.slider p{
	letter-spacing: 3px;

}

.content-container{
  max-width: 940px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}

.visually-hidden{
  display: none;
}

.content-container h2 {
  text-align: center;
}

.content-container h3{
      font-size: 1.5em;
      text-align: center;
}
.service-first-row, .service-second-row, .service-thirth-row{
  display: flex;
  justify-content: space-between;
  max-width: 940px;



}

.service-electricboard:hover,
.installation:hover,
.design:hover,
.sockets:hover,
.sockets:hover,
.light:hover,
.turn_key:hover{
  background-color: rgba(102, 131, 107, 0.43);
  box-shadow: 3px 3px 4px 0px #00000096;
  color: #fff;
}



.service-electricboard, .installation{
  background-color: #d0cfcb2e;
  box-shadow: 3px 3px 4px 0px #00000038;
  width: 450px;
  margin: 10px;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  transition-duration: 2s;

}

.design{
  background-color: #d0cfcb2e;
  box-shadow: 3px 3px 4px 0px #00000038;
  width: 100%;
  margin: 10px;
  font-family: inherit;
  font-size: 16px;
	transition-duration: 2s;
}
.design p,
.sockets p,
.turn_key p{
  float: right;
  padding: 15px;
}


.design a{
  text-decoration: none;
  color: #174204;
}

.design-item{
  width: 225px;
  float: right;
  padding:10px 5px;
}

.design img{
  margin: 20px 0;
  box-shadow: 4px 3px 0px #122d1d2b;
}


.service-item, .installation-item  {
  width: 160px;
  float: right;
  padding:10px 5px;

}

.service-first-row img{
  margin-top: 15px;
  width: 200px;
}


.service-first-row a,
.service-second-row a{
  float: right;
  text-decoration: none;
  color: #174204;
}

.installation p{
  padding-top: 40px;
}
.sockets,
.light,
.turn_key{
  background-color: #d0cfcb2e;
  box-shadow: 3px 3px 4px 0px #00000038;
  width: 33%;
  margin: 10px;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
	transition-duration: 2s;
}

.service-second-row img{
  display: block;
  width: auto;
  margin: 0 auto;
  }

.sockets img {
  margin-top: 40px;
  margin-bottom: 53px;
}

.light img{
  margin-top: 40px;
  margin-bottom: 38px;
}

.turn_key img{
  margin-top: 25px;
  }

  footer{
    background: #d0cfcb;
    box-shadow: 1px -2px 7px 0 #1f3a139e;
  }

.footer-container{
  display: flex;
  width: 940px;
  margin: 10px auto 0;
  justify-content: space-between;
  align-items: center;
}
.modal h3{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
  padding-bottom: 10px;
}
.modal {
	display: none;

}

.modal-show {
	display: block;
	position: absolute;
	left: 50%;
	top: 20%;
	padding: 20px;
	background-image: url(../img/img-bg.jpg);
	border: 1px solid #3d3c3b;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  animation: bounce 0.6s;
}

.form-field{
	width: 250px;
	font-size: 16px;
	padding: 10px;
	margin: 10px 0;
}

.form-text{
	width: 350px;
	height: 200px;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}
.popup-bg{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: rgba(0, 0, 0, .7);
	display: none;

}
.login li{
	list-style: none;
}

.login-link{
	text-decoration: none;
  color: #000;
	font-size: 16px;
	padding: 0 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 10px;f

}

.button span:hover{
  border: 1px solid rgba(102, 131, 107, 0.43);
  border-radius: 10px;
  background-color: rgba(102, 131, 107, 0.43);
  color: #000;
  transition: 2s;
}

.tel{
  font-size: 20px;
  text-align: center;
  padding-top: 6px;
  margin-left: -70px;
}

.tel span{
  font-size: 14px;
}
.footer-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer-menu li{
      font-size: 18px;
      padding: 0 5px;

}

.footer-menu a{

  text-decoration: none;
  color: rgba(112, 135, 115, 0.86);
}

.footer-menu a:hover{
  color: #000;
}

.footer-social {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
}

@media screen and (max-width : 480px){
	.header-container{
	  display: flex;
	  width: 100%;
	  margin: 0 auto;
	  justify-content: space-between;
	}

	.logo{
		margin-left: 20px;
	}

		.main-navigation{
		display: none;
	}
	.toggle_mnu{
		display: block;
		width: 60px;
  	height: 60px;
  	float: right;
  	z-index: 100;
  	border: none;
  	right: 20px;
  	top: 10px;
		cursor: pointer;
		position: fixed;
	}
	.toggle_mnu span {
    display: block; }

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 4px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block; }

.sw-bottom {
  position: relative;
  width: 34px;
  height: 4px;
  top: 8px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 34px;
  height: 4px;
  top: 16px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

	.sandwich.active .sw-topper {
	  top: 10px;
	  transform: rotate(140deg);
	}
	.sandwich.active .sw-bottom {
	  top: 6px;
	  transform: rotate(-140deg);
	}
	.sandwich.active .sw-footer {
	  opacity: 0;
	  top: 0;
	  transform: rotate(180deg);
	}
	main{
		display: none;
	}
footer{
	display: none;

}
}
